body {
    color: #333;
}
main.main-content {
    margin-top: 180px;  
}
/*FAIXA TOPO*/
.topo {
    background: #fff;
    width: 100%;
    float: left;
    height: 30px;
    padding: 3px 0;  
    font-size: 14px; 
    color: #333; 
    margin-bottom: 10px;
    border-bottom: 1px solid #b3b3b3;
}
.topo a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    padding: 0 5px;
}
.topo p {
    font-size: 14px;
}
.topo .tel {
    padding: 4px 0 7px 0;
}
.topo .redes-topo {
    padding: 0 0 4px 0;
    text-align: center
}
.topo .redes-topo i {
    margin: 0;
    font-size: 16px;
    padding: 6px 0;
    text-align: center;
}
/*FIM FAIXA TOPO*/

/*INICIO HEADER*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    margin: 0 auto 10px 0;
    box-shadow: 0 1px 13px 2px #7d7d7d17;
}
header .logo {
    float:left;
    margin:3px 0
}
header .logo a {
    display:block;
    text-decoration:none
}
/* FIM HEADER */

/* INICIO MENU */
.menu {
    float: right;
    margin-top: 9px;
    margin-bottom: 17px;
}
.menu-list {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu {
    list-style:none
}
.menu a {
    color:#333;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li {
    display:inline;
    position:relative
}
.menu > .menu-list > li > a {
    display: inline-block;
    padding: 10px 10px;
    margin: 0;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 14px;
}
.menu > .menu-list > li:hover > a {
    background: #b3b3b3;
    color: #fff;
    border-radius: 5px;
    transition: all 0.5s;
}
.menu > .menu-list > li:hover > .sub-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu {
    position:absolute;
    left:0;
    min-width:200px;
    z-index:100;
    display:none;
    padding:0;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding:10px 20px;
    background:#fff
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    background:#b3b3b3
}

/* Menu Mobile */
.slicknav_btn {
    background-color:#ad590c
}
.slicknav_menu {
    background-color:#ff800b
}
.slicknav_brand a {
    color:#fff;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}

/* Rodapé */
footer {
    padding: 0 15px;
    background-color: #444;
    color: #fff;
    margin-top: 10px;
}
footer h5 {
    font-size:14px
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer a {
    text-decoration:none;
    color: #fff;
}
footer .footer-copyright {
    padding:5px 0;
}
footer .footer-copyright a {
    text-decoration:none;
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}
/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right:0;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #888888b0;
    font-size: 28px;
    border-radius: 5px 0 0 5px;
    background: #fff;
    z-index: 100000
}
.btn-fixo a.btn-telephone i {
    color:#000;
}
.btn-fixo a.btn-whatsapp i {
    color:#25d366;
}
.btn-fixo a.btn-mail i {
    color:#e43434;
}
a.btn-telephone {
    top: 180px;
    padding: 11px 12px;
    transition: 0.6s all;
}
a.btn-whatsapp {
    top: 260px;
    transition: 0.6s all;
    padding: 9px 12.3px;
    font-size: 31px
}
a.btn-mail {
    top: 340px;
    transition: 0.6s all;
    padding: 11px 12px;
}
.btn-fixo a:hover {
    background: #eaeaea;
    transition: 0.6s all;
}
/* Main */
main.main-content h1 {
    padding-bottom: 11px;
    margin: 13px 0 0 0;
    border-bottom: 1px solid #efefef;
    font-size: 28px;
}
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .box-btn-modal-orcamento, .header-container-main {
        display:none
    }
    .topo {
display: none;
}
}